@font-face {
    font-family: 'ToyotaType';
    src: url('../assets/fonts/ToyotaType-Regular.woff2') format('woff2'),
         url('../assets/fonts/ToyotaType-Regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
