@use '../../styles/variables.scss';

.model-details {
    .model-header {
        display: flex;
        padding: 50px 8vw;
        align-items: center;
        gap: 40px;
        
        img{
            width: 40vw;
            flex-shrink: 0;
	          animation: fade-in-left 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        
        .model-title{
            padding: 20px 40px;
            font-family: 'Montserrat', sans-serif;
            color: #373737;
            
            .title{
                font-size: 20px;
                font-weight: 600;
	              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            
            .description{
                font-size: 50px;
                font-weight: 600;
                margin:0;
                margin-bottom: 40px;
	              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
            }
            
            p{
                font-size:16px;
	              animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
            }
        }
    }
    
    .features{
      background-color: #F7F7F7;
      padding: 20px 0 0px 20px;
      .keen-slider{
        .keen-slider__slide{
          img{
            border-radius: 10px;
          }
          h3{
            color: #373737;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 600;
          }
          p{
            color: #373737;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
          }
        }
      }
    }

    .highlights{
        ul{
            padding: 4vw 8vw;
            list-style: none;
            
            li{
                margin-bottom: 6vw;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 50px;
                
                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
                
                .highlight-text{
                    color: #373737;
                    font-family: 'Montserrat', sans-serif;
                    flex: 1;
                    padding: 0 60px;
                    max-width: 25vw;
                    h3{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    
                    p{
                        font-size:16px;
                    }
                }
                
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// Responsive
@media (max-width: 1024px) {
  .model-details {
    .model-header {
      padding: 40px 50px;
      flex-direction: column;
      text-align: center;
      
      img {
        height: 250px;
      }
      
      .model-title {
        padding: 20px;
        
        .description {
          font-size: 40px;
        }
      }
    }
    
    .highlights ul li {
      gap: 30px;
      img{
        max-width: 50%;
      }
      .highlight-text {
        padding: 0 30px;
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .model-details {
    .model-header {
      padding: 30px 20px;
      flex-direction: column;
      gap: 0px;
      
      img {
        height: 100%;
        width: 100%;
      }
      
      .model-title {
        padding: 15px 0;
        
        .title {
            font-weight: 600;
            font-size: 20px;
        }
        
        .description {
          font-size: 35px;
          margin-bottom: 20px;
        }
        
        p {
          font-size: 16px;
        }
      }
    }

    .features{
      .keen-slider{
        .keen-slider__slide{
          padding: 10px;
          img{
            width: 95%;
          }
          h3, p{
            padding: 0 10px;
          }
        }
      }
    }
    
    .highlights ul li {
      flex-direction: column-reverse !important;
      gap: 20px;
      margin-bottom: 40px;
      
      .highlight-text {
        padding: 0 !important;
        text-align: left;
        max-width: unset;
        h3 {
          font-size: 20px;
          font-weight: 600;
        }
        
        p {
          font-size: 16px;
          text-align: justify;
        }
      }
      
      img {
        width: 100%;
        max-height: 250px;
        border-radius:10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .model-details {
    .model-header {
      padding: 20px 15px;
      
      .model-title {
        padding: 10px 0;
        
      }
    }

    .features{
      padding: 20px 0 0px 10px;
      .keen-slider{
        padding: 0;
        .keen-slider__slide{
          padding: 10px;
          img{
            width: 95%;
          }
          h3, p{
            padding: 0 10px;
          }
        }
      }
    }
      
    .highlights ul {
      padding: 20px 10px;
      
      li {
        margin-bottom: 30px;
      }
    }
  }
}