@import '../../styles/variables.scss';

.model-details {
    .model-header {
        display: flex;
        padding: 50px 8vw;
        align-items: center;
        gap: 40px;
        
        img{
            width: 40vw;
            flex-shrink: 0;
	          animation: fade-in-left 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
        
        .model-title{
            padding: 20px 40px;
            font-family: $primary-font;
            color: $primary-color;
            
            .title{
                font-size: 20px;
                font-weight: 600;
	              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
            
            .description{
                font-size: 50px;
                font-weight: 600;
                margin:0;
                margin-bottom: 40px;
	              animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
            }
            
            p{
                font-size:16px;
	              animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
            }
        }
    }
    
    .features{
      background-color: #F7F7F7;
      padding: 20px 0 50px 20px;
      .slider-container{
        .slick-slider{
          .slick-prev, .slick-next{
            top: 56%;
            z-index: 1;
            width: 100px;
            min-height: 132%;
            background: #ffffff99;
            &:before{
              color: #474747;
              opacity: 1;
            }
          }
          .slick-prev{
            left: -20px;
          }
          .slick-next{
            right: 0;
          }
          .slick-list{
            .slick-track{
              .slick-slide{
                img{
                  border-radius: 10px;
                }
                h3{
                  color: $primary-color;
                  font-family: $primary-font;
                  font-size: 20px;
                  font-weight: 600;
                  width: 70%;
                }
                p{
                  color: $primary-color;
                  font-family: $primary-font;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }

    .highlights{
        ul{
            padding: 4vw 8vw;
            list-style: none;
            
            li{
                margin-bottom: 6vw;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 50px;
                
                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
                
                .highlight-text{
                    color: $primary-color;
                    font-family: $primary-font;
                    flex: 1;
                    padding: 0 60px;
                    max-width: 25vw;
                    h3{
                        font-size: 20px;
                        font-weight: 600;
                    }
                    
                    p{
                        font-size:16px;
                    }
                }
                
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// Responsive
@media (max-width: 1024px) {
  .model-details {
    .model-header {
      padding: 40px 50px;
      flex-direction: column;
      text-align: center;
      
      .model-title {
        padding: 20px;
        
        .description {
          font-size: 40px;
        }
      }
    }

    .features{
      .slider-container{
        .slick-slider{
          .slick-prev, .slick-next{
            min-height: 34vw;
          }
        }
      }
    }
    
    .highlights ul li {
      gap: 30px;
      img{
        max-width: 50%;
      }
      .highlight-text {
        padding: 0 30px;
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .model-details {
    .model-header {
      padding: 30px 20px;
      flex-direction: column;
      gap: 0px;
      
      img {
        height: 100%;
        width: 100%;
      }
      
      .model-title {
        padding: 15px 0;
        
        .title {
            font-weight: 600;
            font-size: 20px;
        }
        
        .description {
          font-size: 35px;
          margin-bottom: 20px;
        }
        
        p {
          font-size: 16px;
        }
      }
    }

    .features{
      .slider-container{
        .slick-slider{
          .slick-prev, .slick-next{
            display: none !important;
          }
        }
      }
    }
    
    .highlights ul li {
      flex-direction: column-reverse !important;
      gap: 20px;
      margin-bottom: 40px;
      
      .highlight-text {
        padding: 0 !important;
        text-align: left;
        max-width: unset;
        h3 {
          font-size: 20px;
          font-weight: 600;
        }
        
        p {
          font-size: 16px;
          text-align: justify;
        }
      }
      
      img {
        width: 100%;
        max-height: 250px;
        border-radius:10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .model-details {
    .model-header {
      padding: 20px 15px;
      
      .model-title {
        padding: 10px 0;
        
      }
    }

    .features{
      padding: 20px 0 0px 10px;
      .slider-container{
        .slick-slider{
          .slick-prev, .slick-next{
            display: none !important;
          }
          .slick-list{
            .slick-track{
              .slick-slide{
                h3{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .highlights ul {
      padding: 20px 10px;
      
      li {
        margin-bottom: 30px;
      }
    }
  }
}